// colors

$white: #fff;
$blue: #36A4DC;
$pink: #FF2C7E;
$navy: #002D96;
$green: #DAFFC2;
$black: #1D1D1B;

/* fonts */
$font_family_Geometry: 'Geometria', sans-serif;

$font_size_h1: 70px;
$font_size_h1_inner_pages: 40px;


$screen_lg: 1250px;
$screen_md: 1028px;
$screen_sm: 640px;


$padding_lg: 52px;
$padding_sm: 36px;

$contatiner_w: 1240px;
$contatiner_w_min: 375px;
